/* 
    Document   : style
    Created on : 07-Mar-2013, 15:08:57
    Author     : Ray Hammond
    Description:
        CSS styles for a matching game written using HTML5.
*/

/*root { 
    display: block;
}*/

@font-face {
    font-family: AkzidenzGrotesk;
    src: url(../fonts/AkzidenzGrotesk-Bold.otf);
    font-weight: bold;
}


body {
	background-color: #040a2b;
	margin: 0px;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	width: 1779px;
	height: 780px;
}

body article#game {
	width: 800px;
	margin: 0 auto;
}

/*header div {
	height: 10px;
	font-size: 10px;
	color: #a67900;
	padding-top: 15px;
	position: absolute;
	
}*/
#status {
  font: 18px/1.5 Helvetica, Arial, sans-serif;
  color: #fff;
  float: left;
}
 
a {
  color: #fff;
  text-decoration: none;
  margin-top:-550px;
}

#status {
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}




#board 
{
	padding-top: 10px;
    width: 1020px;
    height: 425px;
	display: block;
	float: left;
}

#header
{
	position: absolute;
    font-size:8px;
	left:315px;
	top:-40px;
	color: white;
	font-family: AkzidenzGrotesk;
	font-weight: bold;

}
/*#header h1{
	text-align:center;
	margin-left: 200px;
	left: 315px;
	color:#9eafff;
}*/

#startGameButton
{
	color: #9eafff;
	padding-bottom: 10px;
	padding-top: 10px;
	display: inline-block;
	width: 100px;
	border:1px double #9eafff;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;

}

.tile {
	float:left;
	width: 180px;
	height: 180px;
	margin-left: 20px;
	margin-bottom: 20px;
	cursor: pointer;
}

.tile img {
	display: block;
	margin: 0 auto;
	width: 180px;
	border: 1px solid #5C5E68;


}

.tileColor1 {
	 background-image: url("../images/logoa.png");
     background-repeat: no-repeat;
}

.tileColor2 {
	 background-image: url("../images/logoa.png");
     background-repeat: no-repeat;
}

.tileColor3 {
	 background-image: url("../images/logoa.png");
     background-repeat: no-repeat;
}

.tileColor4 {
	 background-image: url("../images/logoa.png");
     background-repeat: no-repeat;
}

.tileColor5 {
	 background-image: url("../images/logoa.png");
     background-repeat: no-repeat;
}
